.banner{
    margin-bottom: 80px;
}
.title-box{
    margin-bottom: 80px;
}

.liuqiu{
    background: rgba(255, 255, 255, 0.705);
}
figcaption{
    font-size: 14px;
    font-weight: 400;
    color: $dark;
}
.covid-img{
    font-size: 2.25rem;
}
.title-box{
    font-size: 18px;
}
.team{
    margin-bottom: 100px;
}
.doc{
    color: white;
    a{
        color: white;
    }
}

#GoTop {
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.mouse {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    &-Box {
        position: absolute;
        transform: translate(-50%, -50%);   // 讓游標在中間
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 1px solid $info;
        background: #ffffff15;
        //box-shadow: 3px 3px 3px  rgba(46, 54, 68, 0.03);
        box-shadow: 3px 3px 3px #34e1ff60;
        backdrop-filter: blur(2px);
        background-clip: padding-box;
    }
  }






